[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4


[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
max_connections=5000
default-time-zone='+8:00'

# lower_case_table_names
# 0 表名存储为给定的大小和比较是区分大小写的
# 1 表名存储在磁盘是小写的，但是比较的时候是不区分大小写
# 2 表名存储为给定的大小写但是比较的时候是小写的
lower_case_table_names=2

group_concat_max_len=1024000

#
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION


#设置主机id，不能与其他主机或从机重复
server-id=1
#自增id从哪个数开始
auto-increment-offset=1
#自增id每次递增的量
auto-increment-increment=1

bind-address=0.0.0.0
default_password_lifetime=0

skip-name-resolve

log-bin=mysql-bin
max_binlog_cache_size = 10240M
max_binlog_size = 512M
binlog_expire_logs_seconds=864000
binlog-ignore-db=information_schema
binlog-ignore-db=mysql
binlog-ignore-db=sys
binlog-ignore-db=performance_schema
